version: '3.8'

services:
  mysqlserver:
    image: mysql
    container_name: mysqlserver
    environment:
      - MYSQL_ROOT_PASSWORD=root
    volumes:
      - mysqlserver-db:/var/lib/mysql
    networks:
      - mynetwork

  tourplanservice:
    image: snahammed/tourplanimage
    container_name: tourplanservice
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysqlserver:3306/tourplanservicedb?useSSL=false
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - SERVER_PORT=8090
    ports:
      - "8090:8090"
    networks:
      - mynetwork

  placeservice:
    image: snahammed/placeimage
    container_name: placeservice
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysqlserver:3306/placeservicedb?useSSL=false
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - SERVER_PORT=8070
    ports:
      - "8070:8070"
    networks:
      - mynetwork

  userservice:
    image: snahammed/userimage
    container_name: userservice
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysqlserver:3306/userservicedb?useSSL=false
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - SERVER_PORT=8099
    ports:
      - "8099:8099"
    networks:
      - mynetwork

  feedbackservice:
    image: snahammed/feedbackimage
    container_name: feedbackservice
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysqlserver:3306/feedbackservicedb?useSSL=false
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - SERVER_PORT=8060
    ports:
      - "8060:8060"
    networks:
      - mynetwork

  adminservice:
    image: snahammed/adminimage
    container_name: adminservice
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://mysqlserver:3306/adminservicedb?useSSL=false
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root
      - SERVER_PORT=8085
    ports:
      - "8085:8085"
    networks:
      - mynetwork

  serverservice:
    image: snahammed/serverimage
    container_name: serverservice
    environment:
      - SERVER_PORT=8761
    ports:
      - "8761:8761"
    networks:
      - mynetwork

networks:
  mynetwork:
    driver: bridge

volumes:
  mysqlserver-db:
